*.class

# Package Files #
*.jar
*.war
*.ear
/WorkshopProject/nbproject/private/
/WorkshopProject/WorkshopProject-war/nbproject/private/
/WorkshopProject/WorkshopProject-ejb/nbproject/private/
/WorkshopProjects/jsf_reqcycle/target/